* body {
    margin: 0;
    padding: 0;
}

#alpha {
    background-color: #ff0000;
}

#beta {
    background-color: #ff4500;
}

#charlie {
    background-color: #008000;
}

#alpha, #beta, #charlie {
    background-color: #ffffff;
    height: 50px;
    padding: 5px;
    margin: 25px;
    font-weight: bold;
}

#A, #B, #C {
    background-color: #ffffff;
    height: 50px;
    padding: 5px;
    margin: 25px;
    font-weight: bold;
}

#A {
    color: #ff0000;
}

#B {
    color: #ff4500;
}

#C {
    color: #008000;
}

